* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263EB;
    --primary-color-dark: #364FC7;
}

body.dark-blue {
    --bg-color: #00082F;
    --text-color: #FFFFFF;
}

body.pink {
    --bg-color: #FFF0F6;
    --text-color: #1F000B;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
}

body.dark-pink {
    --bg-color: #1F000B;
    --text-color: #FFFFFF;
    --primary-color: #D6336C;
    --primary-color-dark: #1F000B;
}

a {
    text-decoration: none;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif
}

#main-container {
    padding-top: 25px;
    text-align: center;
    width: 300px;
    margin: 30px auto;
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    padding: 3.7px;
    border: var(--primary-color) solid 4px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 20px;
}

.user-name {
    opacity: 0.8;
    font-size: 16px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin-bottom: 40px 0;
}

ul li a {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: background 400ms;
}

ul li a:hover {
    background: var(--primary-color-dark);
    height: 30px;
}

footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 35px;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
    font-size: 14px;
}

footer a {
    color: var(--text-color);
}
